.App-header {
  background-color: #282c34;
  min-height: 100vh;
  color: #cfd8dc;
}
/* -------------------------dashboard-------------------------------------- */
.dashboard-fragment{
  display: flex;
  flex-direction: row;
}
.my-image-div{
  display: flex;
  justify-content: center;
  padding: 30px 0px 20px 0px;
}
.my-image{
  width: 190px;
  height: 190px;
  border-radius: 54%;
  object-fit: cover;
}
.dashboard-list-div{
  text-align: center;
}
.navlink-decoration{
  text-decoration: none;
  color: white;
}

/* ------------------------------Home page-------------------------------- */
.home-heading {
  font-size: 50px;
  margin-bottom: 15px;
  color:white;
  /* font-family: Gautami, Helvetica, sans-serif; */
}
.home-content-div{
  margin-left: 12%;
  margin-right: 12%;
  text-align: center;
}
.home-content {
  font-size: 18px;
  /* font-family: Gautami, Helvetica, sans-serif; */
}
.home-icons-div{
  display: flex;
  justify-content: center;
  padding: 10px;
}
.avatar-icons{
  margin-right: 15px;
}
/* ---------------------------------About--------------------------------- */
.about-heading{
  font-size: 35px;
  color: white;
}
.about-my-image{
  max-width:  39vw;
  height: auto;
}

.about-left-div{
  /* max-width:  50%;
  height: auto; */
}

.intro-title{
  margin-top: -10px;
  margin-bottom: 15px;
  font-size: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif
}
.about-table{
  width: 300px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.table-key{
  font-size: 18px;
}
.table-value {
  font-size: 15px;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  white-space: nowrap;
}